@media screen and (max-width: 1400px) {
  #home {
      height: 83vh;
      margin-bottom: 6rem;
  }
  .about-containers {
      flex-wrap: wrap;
  }
  #contact,
  #projects {
      height: fit-content;
  }
}

/* For screens with a max width of 1200px (Desktops and smaller laptops) */
@media screen and (max-width: 1200px) {
  #desktop-nav {
      display: none;
  }
  #hamburger-nav {
      display: flex;
  }
  #experience,
  .experience-details-container {
      margin-top: 2rem;
  }
  #home,
  .section-container {
      display: block;
  }
  section,
  .section-container {
      height: fit-content;
  }
  section {
      margin: 0 5%;
  }
  .section__pic-container {
      width: 275px;
      height: 275px;
      margin: 0 auto 2rem;
  }
  .about-containers {
      margin-top: 0;
  }
}

/* For screens with a max width of 1000px (Medium-sized laptops and smaller tablets) */
@media screen and (max-width: 1000px) {
  .section__pic-container {
      width: 300px;
      height: 300px;
  }
  .about-containers {
      justify-content: center;
  }
  .experience-details-container {
      padding: 1rem;
  }
  .btn-container{
    display: flex;
    flex-direction: column; /* Stack the buttons vertically */
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    gap: 1rem; /* Add space between the buttons */
    margin: 0 auto; 
  }
  .project-container {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
  }
  .project-box {
      flex: 1 1 40%;
      min-width: 200px;
      align-self: auto;
      
  }
  .about-pic {
      width: 100%;
      height: auto;
  }
}

/* For screens with a max width of 768px (Tablets and smaller laptops) */
@media screen and (max-width: 768px) {
  .section__pic-container {
      width: 250px;
      height: 250px;
  }
  .btn-container {
      flex-direction: column;
      gap: 1rem;
  }
  .section__text {
      text-align: center;
  }
  .about-containers {
      flex-direction: column;
      align-items: center;
  }
  .project-box {
      flex: 1 1 45%;
      min-width: 200px;
  }
  .logo {
      font-size: 1.5rem;
  }
  footer {
      padding: 1rem;
  }
}

/* For screens with a max width of 600px (Mobile devices) */
@media screen and (max-width: 600px) {
  #home {
      height: 70vh;
      margin-bottom: 0;
  }
  #contact,
  footer {
      height: 40vh;
  }
  article {
      font-size: 1rem;
  }
  footer nav {
      height: fit-content;
      margin-bottom: 2rem;
  }
  .btn-container {
      flex-direction: column;
  }
  .contact-info-container {
      margin: 0;
  }
  .experience-sub-title {
      font-size: 1.25rem;
  }
  .logo {
      font-size: 1.25rem;
  }
  .nav-links {
      flex-direction: column;
      gap: 0.5rem;
      text-align: center;
  }
  .section__pic-container {
      width: 50vw;
      height: auto;
  }
  .section__text__p2,
  .section__text__p1 {
      font-size: 1.25rem;
  }
  .title {
      font-size: 1.75rem;
  }
  .text-container {
      text-align: justify;
  }
  .icon{
    width: 40px; /* Smallest size for mobile devices */
    height: 0px;
  }
  .project-image{
    width:30px;
    height:30px;
  }
}

/* For very small devices (Portrait mobile) */
@media screen and (max-width: 480px) {
  .section__pic-container {
      width: 50vw;
      height: 50vw;
  }
  .section__pic-container2 {
    width: 80vw;
    height: 80vw;
    
}
  .btn-container {
      flex-direction:column;
  }
  .project-box {
      flex: 1 1 100%;
      min-width: 100%;
  }
  .logo {
      font-size: 1.2rem;
  }
  .title {
      font-size: 1.5rem;
  }
  .experience-sub-title {
      font-size: 1rem;
  }
  .contact-info-container p {
      font-size: 1rem;
  }
  .nav-links li a {
      font-size: 1rem;
  }
  .icon{
    width: 30px; /* Smallest size for mobile devices */
    height: 30px;
  }
  .project-image{
    width:25px;
    height:25px;
  }
}